/* Estilos que são aplicados em todas as páginas */
.navbar-color {
    background-color: #148c14;
    color: white;
}

body{
    background:#c7f1c6;
}
footer{
    background:#148c14;
    text-align: center;
    padding: 50px;
    color: white;
}

/* Estilos da pagina principal */
.text-center{
    text-align: center;
    background-color:#148c14;
    height: 500px;
}

.text-space-white{
    padding: 25px;
    color: white;
}

.img-container-l{
    float: left;
}

.img-container-r{
    float: right;

}


/* Estilos que são aplicadas apenas na pagina do currículo */
.container{
    display: grid;
    margin: 5px 35px;
    grid-template-columns: 1fr 2fr;
    gap: 25px;
}
.container-one{
    width: auto;
    background-color: white;
    box-shadow: 0 0 1em grey;
    padding: 20px;
}
.container-two{
    width: auto;
    background-color: white;
    box-shadow: 0 0 1em grey;
    padding: 20px;
    text-align: justify ;
}

section{
    border-bottom: solid lightgreen 1px;
}

.main-img{
    background: url("./eu.jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.text-over-img{
    text-align: justify;
    position: absolute;
    top: 85%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: #112309;
}