img:hover{
    transform: scale(1.1);    
}

img{
    transition: all 1s;
    float: left;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow:gray 0px 0px 10px ;   
}

h2{
    border-bottom: 2px solid royalblue;
    border-right: 2px solid royalblue;
    margin: auto;
    box-shadow: 5px 5px 5px rgb(22, 20, 22);
}

footer{
    background-color: rgb(89, 85, 138);
    padding: 5px;
    text-align:center;
}

